body {
    background-color: black;
    color: white;
    
}

    h1 {
        color: rgb(128, 218, 98);
        text-decoration: overline; /* added line decorations (AUG 27) */
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    h2 {
        text-decoration: line-through;
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    h3 {
        text-decoration: underline;
       font-family: "TASA Explorer", sans-serif;
       font-optical-sizing: auto;
       font-weight: 200;
       font-style: normal;

    }

    a {
        color: orange
    }
    
    .Squirtle {
        color: skyblue;
    }

    .Lotus {
        color: red;
    }

    .Uncle {
        color: rgb(116, 116, 18);
        font-style: italic;
    }

    .Drew {
        color: rgb(116, 116, 18);
        font-style: italic;
    }


    